
@import "bootstrap";
@import "font-awesome";

/* Basic styling for the code editor */
.redacted {
  background-color: gray; /* Black background color */
  color: gray; /* Text color same as background color */
  display: inline-block;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 1px 3px; /* Adjust padding to control the size of the block */
}

.overflow-hidden {
  overflow: hidden;
  white-space: nowrap;
}

.sql-editor {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: auto; /* Adjust the width as needed */
}

.editor-wrapper {
  display: flex; /* Use flexbox layout */
}

.line-numbers {
  background-color: #fcfcfd;
  padding: 6px;
  font-family: "Courier New", Courier, monospace;
  border-right: 1px solid #ccc;
  min-height: 80px; /* Adjust the height as needed */
  text-align: right;
  user-select: none; /* Prevent text selection in line numbers */
}

.code {
  font-size: 18px;
  font-family: monospace;
  line-height: 1.70em;
  tab-size: 2;
  border: none;
  outline: none;
  resize: none;
  padding-left: 12px;
  padding-top: 5px;
  min-height: auto; /* Adjust the height as needed */
  min-width: 90%; /* Adjust the width as needed */
}

.validation {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.70em;
    tab-size: 2;
    min-width: 90%; /* Adjust the width as needed */
    /* Remove the 'overflow' property to disable vertical scrolling */
}

/* Style individual line numbers */
.line-numbers span {
  display: block;
  font-size: 18px;
  line-height: 1.70em;
  max-height: calc(9 * 1.70em); /* Maximum height for 8 lines */
  min-height: auto; /* Adjust the height as needed */
}