
<div class="row m-4 justify-content-center">
  <div class="col-md-8 mb-4">
    <%= render 'exercises/partials/form' %>

    <div class="">
      <%= link_to 'Back to Exercises', exercises_path, class: 'btn btn-light text-secondary border mt-2' %>
    </div>
  </div>
</div>
