<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark text-center bg-dark p-3">

  <div class="col-6 code link-underline-opacity-0 pb-2">
    <a class="lead text-decoration-none" href="/">SQUELCH <i class="fas fa-poop"></i> SQL PRACTICE</a>
    <p class="">because doing SQL queries can feel like stepping in sh!t</p>
  </div>
  <div class="col-6 link-underline-opacity-0 text-sm-end pb-2">
    <code>
      <%= link_to("#{ENV['GITHUB_REPO']}", class: 'link-underline-opacity-0 text-secondary text-sm-end link-dark', target: '_blank') do %>
        <%= github_release_details %> <i class="bi bi-github" class="text-secondary"></i>
      <% end %>
    </code>
  </div>

</nav>
